ion-card {
    background: white;
    --background: white;
}

.my-font-logo {
    margin: 0px !important;
}

.see-details{
    margin: 0px !important;
    width: 100% !important;
    border-radius: 0px !important;
}