ion-icon.icon {
    padding-right: 5px !important;
}
ion-item.category-item {
    .item-inner {
        border-bottom: solid 1px #dddddd !important;
        @media (max-width: 400px) {
            display:flex;
            flex-direction: column;
        }
    }
}
ion-content.content {
    background: white;
}
ion-searchbar {
    flex-grow: 1;
    border-bottom: solid 2px #dddddd;
}
ion-footer.footer {
    display: flex;
    justify-content: flex-end;
    background: var(--ion-color-light);
}

.category-item {
    .item-inner {
        padding-right: 0px !important;
    }
}

.actions {
    margin-right: 0px !important;
}