
ion-spinner {
    width: 35px;
    height: 35px;
}

p {
    width: 50%;
    margin-left: 25%;
    text-align: justify;
}

ion-item {
    margin-left: 24%;
}

ion-button {
    width: 50%;
    margin-left: 24%;
    text-align: center;
}