<ion-header no-border class="app">
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-button size="small" (click)="back()">
        <ion-icon class="arrow-back" slot="icon-only" name="ios-arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title class="title-default">
      <h3 ion-text class="my-font-logo" no-margin>LOGIN</h3>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="hideScrollbar" no-margin no-padding>

  <header>
    <nano-thumb [kind]="'person'" [large2x]="true" [round]="true" [border]="true"></nano-thumb>
  </header>

  <!-- <section>
    <ion-list no-lines [hidden]="!loading">
      <ion-item text-center color="transparent">
        <ion-spinner color="light"></ion-spinner>
      </ion-item>
    </ion-list>
  </section> -->

  <!-- Container dos botões de login -->
  <footer>
    <p class="text-buttons" margin-bottom>Escolha como quer acessar</p>
    <!-- <ion-button shape="block" (click)="doLogin('facebook')" icon-left color="facebook" text-uppercase style="margin-bottom: 1em!important">
      <ion-icon name="logo-facebook"></ion-icon>
      Entrar com Facebook
    </ion-button> -->
    <ion-button shape="block" icon-left (click)="doLogin('google')" color="gmail" text-uppercase>
      <ion-icon name="logo-googleplus"></ion-icon>
      Entrar com Gmail
    </ion-button>
  </footer>

</ion-content>