.content-month {
    --background: white;
    background: white;
    min-width: 278px;
    margin: 10px;
    box-shadow: 1px 1px 10px #ccc;
    h2.text {
        margin-top: 0px !important;
    }
    .month-title {
        background: var(--ion-color-primary);
        text-transform: capitalize;
        color: white;
        display: block;
        text-align: center;
        font-size: 20px;
    }
    .info {
        padding: 10px;
        display: flex;
        justify-content: space-between;
        border-bottom: 0.55px solid #ddd;
        &:last-child {
            border: none;
        }
        .info-name {
            width: 75%;
        }
        .info-value {
            white-space: nowrap;
            display: flex;
            align-items: center;
        }
    }
}

ion-item {
    --background: white;
    padding-top: 20px;
}

ion-list {
    --background: white;
    background: white;
    margin-bottom: 20px;
}

.green {
    color: var(--ion-color-success-shade)
}

.description{
    color: var(--ion-color-medium-shade)
}