<ion-header no-border>
  <nano-navbar title="Cadastrar/Editar produto" icon="menus-icon-pizza" [helpPage]="11"></nano-navbar>
</ion-header>

<ion-content padding>
  <ion-card class="content-card">
    <nano-loading [loading]="loading">
      <!-- Informações gerais do produto -->
      <form [formGroup]="form" class="form-content">
        <ion-list>
          <!--<ion-list class="myformlist" color="light">-->

          <!-- Imagem e barra de progresso -->
          <nano-uploadimage [form]="this.form" [storagePath]="'products'"></nano-uploadimage>

          <!--Nome-->
          <ion-item padding-horizontal>
            <ion-label position="stacked" color="tertiary">Nome</ion-label>
            <ion-input class="input" formControlName="name" maxlength="50"></ion-input>
          </ion-item>

          <!--Descrição-->
          <ion-item padding-horizontal>
            <ion-label position="stacked" color="tertiary">Descrição</ion-label>
            <ion-textarea class="input" rows="5" formControlName="description"></ion-textarea>
          </ion-item>

          <!-- Preço -->
          <ion-item padding-horizontal item-content>
            <ion-label position="stacked" color="tertiary">Preço base (em R$)</ion-label>
            <money-input item-content [control]="form.controls['priceBase']"></money-input>
          </ion-item>

          <!-- Ativar preço promocional -->
          <!-- <ion-item>
            <ion-label>Quantidade do produto sempre unitária</ion-label>
            <ion-checkbox color="primary" formControlName="fixedQuantity"></ion-checkbox>
          </ion-item> -->

          <!-- Ativar preço promocional -->
          <ion-item padding-horizontal>
            <ion-label>Ativar promoção</ion-label>
            <ion-toggle slot="end" color="primary" formControlName="promotionActive"></ion-toggle>
          </ion-item>
          <ion-radio-group [hidden]="!form.controls['promotionActive'].value" [(ngModel)]="promotionType" [ngModelOptions]="{standalone: true}" (ionChange)="detect()">
            <ion-item padding-horizontal>
              <ion-label>Definir valor de desconto</ion-label>
              <ion-radio value="money"></ion-radio>
            </ion-item>
            <ion-item padding-horizontal>
              <ion-label>Definir porcentagem de desconto</ion-label>
              <ion-radio value="percentage"></ion-radio>
            </ion-item>
          </ion-radio-group>
          <!--Preço Promocional por valor-->
          <ion-item padding-horizontal [hidden]="!(form.controls['promotionActive'].value && promotionType == 'money')">
            <ion-label position="stacked" color="tertiary">Valor de desconto (em R$)</ion-label>
            <money-input [control]="form.controls['promotionPrice']"></money-input>
          </ion-item>

          <!--Preço Promocional por porcentagem-->
          <ion-item padding-horizontal item-content [hidden]="!(form.controls['promotionActive'].value && promotionType == 'percentage')">
            <ion-label position="stacked" class="label" color="tertiary">Porcentagem de desconto</ion-label>
            <money-input item-content [control]="form.controls['promotionPercentage']"></money-input>
          </ion-item>

          <!-- <ion-input class="input" type="tel" (keyup)="amountChange($event.target.value)" formControlName="priceBase"></ion-input> -->

          <!-- Categoria -->
          <div padding-horizontal>
            <h3 ion-text color="tertiary">Categoria</h3>
            <h4 ion-text *ngIf="categoryActual">{{categoryActual.name}}</h4>
            <ion-button class="button-select-category" fill="clear" (click)="selectCategory()">Selecionar categoria</ion-button>
          </div>

          <ion-item-divider text-center no-lines>
            <h5 ion-text color="tertiary">Opções do produto</h5>
          </ion-item-divider>

          <!-- Adicionar Opções do produto -->
          <ion-button padding ion-item icon-left fill="clear" color="tertiary" (click)="updateComplement()">
            <ion-icon name="add" item-left></ion-icon>
            <h6 ion-text>Adicionar complemento</h6>
          </ion-button>

          <ion-item padding-horizontal class="complement" *ngFor="let complement of complements; let i = index">
            <div style="display: flex;align-items: center;">
              <h2 text-wraper>{{complement?.title}}</h2>
              <ion-button class="set-priority-category-button first-button" icon-only fill="clear" (click)="upComplement(complement, i)"
                color="facebook">
                <ion-icon name="arrow-up"></ion-icon>
              </ion-button>
              <ion-button class="set-priority-category-button" icon-only fill="clear" (click)="downComplement(complement, i)"
                color="google">
                <ion-icon name="arrow-down"></ion-icon>
              </ion-button>
            </div>
            <ion-buttons slot="end">
              <ion-button color="primary" fill="clear" icon-only (click)="updateComplement(complement)">
                <ion-icon name="md-create"></ion-icon>
              </ion-button>
              <ion-button color="danger" fill="clear" icon-only (click)="removeComplement(complement)">
                <ion-icon name="trash"></ion-icon>
              </ion-button>
            </ion-buttons>
          </ion-item>

        </ion-list>
      </form>
    </nano-loading>
    <nano-buttons [canSave]="form.valid" [save]="save.bind(this)" [canRemove]="product" [remove]="remove.bind(this)"
      [cancel]="cancel.bind(this)"></nano-buttons>
  </ion-card>
</ion-content>