ion-item {
    background: white !important;
    --background: white !important;
    p {
        font-size: 1.1em !important;
        color: var(--ion-color-medium) !important;
    }
} 

.button-bottom {
    margin: 0 !important;
}

textarea {
    background-color: white !important;
}

div.satisfaction {
    padding-left: 10px !important;
}

.bg-white {
    background: white!important;
}

.padding-left {
    padding-left: 10px !important;
}