ion-toast.toast-success {
    .toast-wrapper {
        margin: 10px;
        width: auto;
        background: #6cbf6c;
    }
}

ion-toast.toast-error {
    .toast-wrapper {
        margin: 10px;
        width: auto;
        background: #dc6460;
    }
}