<ion-header no-border class="app">
  <ion-toolbar color="primary">

    <ion-buttons slot="start">
      <ion-button icon-only style="width: 42px;" [disabled]="true">
        &nbsp;	
      </ion-button>
    </ion-buttons>

    <p *ngIf="shared?.user?.location; else noUserAddress" tappable (click)="openAddress()">
      <span class="line1" *ngIf="shared.user.location.street">{{shared.user.location.street}},
        {{shared.user.location.number}}</span>
      <span class="line1" *ngIf="!shared.user.location.street">Complete seu endereço</span>
      <br />
      <span class="line2">{{shared.user.location.district}} - {{shared.user.location.city}}</span>
    </p>
    <ng-template #noUserAddress>
      <p tappable (click)="openAddress()" *ngIf="locationUser">
        <span class="line1" style="font-size: 1.1em" *ngIf="locationUser.street">{{locationUser.district}} -
          {{locationUser.city}} - {{locationUser.state_short}}</span>
        <!-- <br/>
        <span class="line2">Complete seu endereço</span> -->
      </p>
      <p tappable (click)="openAddress(true)" *ngIf="!locationUser">
        <span class="line1">Endereço não cadastrado</span>
        <br />
        <span class="line2">Clique aqui</span>
      </p>
    </ng-template>

    <ion-buttons slot="end">
      <ion-button icon-only (click)="goProfile()">
        <ion-icon class="profile-icon" name="md-person" color="extralight"></ion-icon>
      </ion-button>
    </ion-buttons>
    <!-- <div class="background-toolbar-right"></div> -->
  </ion-toolbar>
</ion-header>

<ion-content class="hideScrollbar">

  <ion-searchbar padding [(ngModel)]="searchString" placeholder="Buscar estabelecimento..." debounce="180" animated="true"></ion-searchbar>
  <!--
  <section class="categories" margin-bottom *ngIf="type == 'restaurant'">

    <p text-wrap no-margin margin-bottom>
      <span class="container-item shadow shadow-light" *ngFor="let special_filter of filial_subtypes" tappable
        [ngClass]="{'selected': special_filter.selected}" (click)="filter(special_filter)">
        <span class="text-item">{{special_filter.name}}</span>
        <span *ngIf="special_filter.icon" class="icon" [ngClass]="special_filter.icon"></span>
      </span>
    </p>

  </section>-->

  <!-- @TODO REALIZAR FILTROS MAIS COMPLEXOS EM UM SEGUNDO MOMENTO -->
  <!-- <button ion-button color="discret" round icon-right clear class="more-filter" (click)="openMoreFilter()" margin-bottom>
    Mais filtros
    <ion-icon name="ios-arrow-forward"></ion-icon>
  </button> -->


  <ion-list no-lines no-padding class="list-filials">
    <div *ngFor="let filial of filials | filterBy:['name', 'location.street', 'location.district', 'type.name', 'type.description']:searchString | orderBy:['-open', 'distance']">
      <div *ngIf="hasTypeSelected(filial)">
        <card-filial-list (click)="goFilialMenu(filial)" [filial]="filial" [hidden]="loading"></card-filial-list>
      </div>
    </div>
  </ion-list>


  <div *ngIf="loading">
    <section margin-top class="placeholder" *ngFor="let f of [1, 2, 3, 4]">
      <ion-card padding>
        <div class="placeholder-animation image"></div>
        <div class="card-bottom">
          <h2 class="placeholder-animation placeholder-text-p-50"></h2>
          <p class="placeholder-animation placeholder-text-p-80"></p>
          <div class="status placeholder-animation placeholder-text-p-60"></div>
        </div>
      </ion-card>
    </section>
  </div>

  <div text-center padding *ngIf="!existsFilials" class="exists-filials" no-lines>
    <div class="gps-error-img"></div>
    <h3 ion-text text-wrap>Pooxa vida!! Ainda não entregamos para o seu endereço :/</h3>
    <p ion-text text-wrap>Mas não se preocupe, iremos notificá-lo assim que tivermos novidades. </p>
    <!-- <ion-button fill="clear" text-center (click)="suggestRestaurant()" color="primary">SUGERIR ESTABELECIMENTO</ion-button> -->
  </div>

  <div text-center padding *ngIf="error" class="exists-filials" no-lines>
    <h1 ion-text padding>
      <ion-icon name="sad"></ion-icon>
    </h1>
    <h3 ion-text text-wrap>{{error.title}}</h3>
    <p ion-text text-wrap>{{error.message}}</p>
    <ion-button text-center fill="clear" color="primary" *ngIf="error?.code == 3" (click)="loadFilials()" margin-top>Tentar
      novamente</ion-button>
    <ion-button ion-button text-center fill="clear" color="primary" *ngIf="error?.code != 3" (click)="openAddress()"
      margin-top>Cadastrar endereço</ion-button>
  </div>

  <br />
  <br />

</ion-content>

<!-- Float button com informações sobre o pedido-->
<fab-order></fab-order>