.select .select-text {
    padding-left: 8px;
}

nano-buttons {
    .button-clear-md-danger {
        margin-left: -6px;
        padding-left: 8px;
        padding-right: 8px;
    }
}

.itens-permission {
    margin-top: -20px !important;
    .item.item-md .checkbox-md {
        margin: 9px 14px 2px 4px !important;
    }
}

.permissions {
    padding-bottom: 1em;
}