ion-title {
    //margin-right: 54px;
}

ion-content {
    background-color: #f8f8f8 !important;
}

ion-grid {
    ion-icon {
        margin-top: 14px;
        font-size: 2.2em;
    }
}

.category-name {
    font-family: myFontBold !important;
    padding-top: 16px;
    font-size: 2.0em;
    text-align: left;
    margin: 0 0.7em;
    border-bottom: 1px dashed #999; //margin-left: 2.2em !important;
    margin-bottom: 10px !important; //margin-top: 1em !important;
    .set-priority-category-button {
        margin-top: -20px !important;
        padding: 0px !important;
        &.first-button {
            margin-left: 10px !important;
        }
    }
}

ion-card {
    //max-width: 60em !important;
    //margin-left: auto !important;
    //margin-right: auto !important;
    margin-bottom: 60px !important;
}

.products {
    font-family: myFontRegular !important;
    margin: auto;
    .list-item {
        display: flex;
        margin: 0.6em 0 0.6em 1.6em;
        background-color: white !important;
        margin-bottom: solid 1px #ddd !important;
        padding: 8px 0px 8px 0px !important;
        @media (max-width: 400px) {
            flex-direction: column;
            align-items: center;
        }
        .product-item {
            align-self: center;
            margin-right: 1.2em;
            @media (max-width: 400px) {
                text-align: center;
            }
            .name {
                font-size: 1.4em;
                color: black;
                &.inactive {
                    color: #999;
                }
            }
            .description {
                font-size: 1em;
                color: #999;
            }
            .price {
                white-space: nowrap;
                font-size: 1.4em;
                color: #4c4;
            }
            button {
                font-weight: bold !important;
            }
        }
    }
}

.button-md {
    margin: 0px !important;
    padding: 0px !important;
    padding-left: 5px !important;
    padding-right: 5px !important;
    margin-left: -5px !important;
}

ion-searchbar {
    border-bottom: none !important;
}

.myfilter {
    display: flex;
    border-bottom: solid 2px #ddd !important;
    ion-searchbar {
        flex-grow: 1
    }
    button {
        align-self: center;
        margin-right: 8px !important;
    }
}

nano-thumb {
    &.inactive {
        opacity: 0.5 !important;
    }
}